.ora{
    .top-text{
        text-align: center;
        .ksp{
            margin-top: 20px;
            margin-bottom: 65px;
        }
    }
    
    .ora-text{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 73px;
        span{
            display: block;
        }

        .line-t{
            width: 1px;
            height: 90px;
            color: #212121;
            background-color: #212121;
        }
        
        @media (max-width: 800px) {
            flex-direction: column;
            gap: 0;
            .line-t{
                display: none;
            }
        }
    }
    .ft{
        text-align: center;
        margin-top: 65px;
        button{
            margin-left: 29px;
            border-radius: 50px;
            padding: 22px 26px;
        }
    }
}