.kotta-div-bos{
    background-color: #f0f1f3;
    display: flex;
    padding: 30px;
    .gridlarbos{
        max-width: 50%;
        .tepasidagi{
            display: flex;
            .kook{
            }
        }
        .pastdagisi{
            display: flex;
            gap: 40px;

        }
    }
    .textlar{
        max-width: 30%;
        text-align: left;
        margin-top: 200px;
        button{
            border: none;
            background-color: #00639A;
            color: white;
            padding: 20px 30px;
            margin-top: 30px;
        }
    }
    @media (max-width:806px) {
        flex-direction: column;
        .gridlarbos{
            text-align: center;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            .tepasidagi{
                flex-direction: column;
             img{
                margin: 0 auto;
             }

            }
            .pastdagisi{
                flex-direction: column;
                margin: 0 auto;
            }
        }
        .textlar{
            max-width: 100%;
            text-align: center;
            button{
                width: 100%;
            }
        }
    }
}