.rang{
  padding-top: 50px;
  margin-top: 196px;
  margin-bottom: 200px;
  .qcr-ota-box {
    display: flex;
    flex-wrap: wrap;
  
    .qcr-chap {
      width: 40%;
  
      h2 {
        font-size: 26px;
        font-weight: 700;
      }
  
      .qcr-reyting-rasm {
          display: flex;
        margin: 40px 0;
      }
  
      .qcr-otziv-btn,
      .qcr-hammasi-btn {
        padding: 12px 24px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
        margin-right: 16px;
      }
  
      .qcr-otziv-btn {
        background: rgb(131, 22, 22);
        color: white;
        border: none;
        &:hover {
          background: wheat;
          color: rgb(131, 22, 22);
        }
      }
  
      .qcr-hammasi-btn {
        background: transparent;
        color: black;
        &:hover {
          background: black;
          color: white;
        }
      }
    }
  
    .qcr-ong {
      width: 60%;
      position: relative;
  
      .qcr-karusel-quti {
        position: relative;
        height: 440px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        .qcr-sharh-karta {
          width: 480px;
          background: white;
          padding: 36px;
          border-radius: 30px;
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          position: absolute;
          transition: all 0.4s ease;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
        }
  
        .qcr-orqa-karta {
          max-width: 450px;
          max-height: 430px;
          right: -130px;
          top: 10px;
          opacity: 0.3;
          transform: scale(0.70);
          z-index: 1;
          .qcr-ajratgich {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #ccc;
            z-index: 0;
          }
  
          p {
            font-style: italic;
            font-size: 16px;
            margin-bottom: 25px;
          }
  
          img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: white;
            z-index: 2;
            display: block;
            position: relative;
            margin: 0 0 0 160px;
          }
  
          .qcr-sharhlovchi {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 30px;
            &::before {
              display: none;
            }
            strong {
              display: block;
              font-weight: bold;
              font-size: 15px;
            }
            p {
              margin: 0;
              font-size: 14px;
            }
          }
  
          .qcr-pastki {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: #888;
            gap: 40px;
            margin-top: 20px;
          }
        }
  
        .qcr-belgi-rasm {
          transform: translate(20px, -220px);
          z-index: 999;
        }
  
        .qcr-old-karta {
          max-width: 450px;
          max-height: 430px;
          width: 480px;
          z-index: 2;
          position: relative;
          text-align: center;
          transform: translateX(-30px);
  
          .qcr-ajratgich {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #ccc;
            z-index: 0;
          }
  
          p {
            font-style: italic;
            font-size: 16px;
            margin-bottom: 25px;
          }
  
          img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: white;
            z-index: 2;
            display: block;
            position: relative;
            margin: 0 0 0 160px;
          }
  
          .qcr-sharhlovchi {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 30px;
            &::before {
              display: none;
            }
            strong {
              display: block;
              font-weight: bold;
              font-size: 15px;
            }
            p {
              margin: 0;
              font-size: 14px;
            }
          }
  
          .qcr-pastki {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: #888;
            gap: 40px;
            margin-top: 20px;
          }
        }
  
        .qcr-strelka {
          position: absolute;
          bottom: -80px;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          z-index: 3;
          background: white;
          &.qcr-chap-strelka {
            right: 70px;
          }
          &.qcr-ong-strelka {
            right: 10px;
            transform: rotate(180deg);
          }
        }
  
        .qcr-nuqtalar {
          position: absolute;
          bottom: -55px;
          left: 20%;
          display: flex;
          gap: 8px;
  
          span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ccc;
  
            &.active {
              border-radius: 50px;
              width: 25px;
            }
          }
        }
      }
    }
  
    @media (max-width: 806px) {
      flex-direction: column;
  
      .qcr-chap {
        width: 100%;
        .qcr-otziv-btn,
        .qcr-hammasi-btn {
          transform: translateY(650px);
        }
      }
  
      .qcr-ong {
        width: 100%;
        .qcr-karusel-quti {
          height: 440px;
          display: flex;
          align-items: center;
          justify-content: center;
  
          .qcr-sharh-karta {
            width: 480px;
            padding: 36px;
          }
  
          .qcr-orqa-karta {
            display: none !important;
          }
  
          .qcr-belgi-rasm {
            transform: translate(60px, -220px);
          }
  
          .qcr-old-karta {
            max-width: 550px;
            max-height: 530px;
            transform: none;
            img {
              width: 64px;
              height: 64px;
              border-radius: 50%;
              background: white;
            }
          }
        }
      }
    }
  }
}
